<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keyWords" content="比特币交易平台,比特币,BTC,比特币价格,比特币行情,USDT,莱特币,BCH,以太坊,ETH,以太经典">
    <meta name="description" content="专业虚拟货币交易站,使莱特币LTC,以太坊ETH,BCH,以太经典(ETC),达世币DASH,瑞波XRP,BCH,PAY,BTG,OMG,EOS,RDN,SNT,KNC,MTL,QSP,RCN,AST,TNT,BCD,TNB等数字货币以比特币BTC,USDT进行交易！提供实时比特币价格,比特币行情.">
    <meta name="format-detection" content="text=no">
    <meta name="format-detection" content="password=no">
    <title>Exchange</title>
    <!-- <link href="/stylesheets/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="javascripts/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/stylesheets/app.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-table.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
    <script>var themeURL = ["/static/css/theme_black.36b460ac8455d3a3384b521b75c593c2.css", "/static/css/theme_default.0fd12bb80fb377de9fa94d20c4ef2ac2.css", "/static/css/theme_white.335f447b27e4c404b63e97e76c2c3ad1.css"]</script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/moment-with-locales.js"></script>
    <script src="javascripts/bootstrap-treeview.js"></script>
    <script src="javascripts/bootstrap-table.min.js"></script>
    <script src="javascripts/bootstrap-datetimepicker.js"></script>
    <script src="javascripts/transition.min.js"></script>
    <script src="javascripts/collapse.js"></script>    
    <script src="javascripts/helper.js"></script>
    <style id="erd_scroll_detection_scrollbar_style">/* Created by the element-resize-detector library. */
      .erd_scroll_detection_container > div::-webkit-scrollbar {
      	display: none;
      }

      .erd_scroll_detection_container_animation_active {
      	-webkit-animation-duration: 0.1s;
      	animation-duration: 0.1s;
      	-webkit-animation-name: erd_scroll_detection_container_animation;
      	animation-name: erd_scroll_detection_container_animation;
      }

      @-webkit-keyframes erd_scroll_detection_container_animation {
      	0% {
      		opacity: 1;
      	}

      	50% {
      		opacity: 0;
      	}

      	100% {
      		opacity: 1;
      	}
      }

      @keyframes erd_scroll_detection_container_animation {
      	0% {
      		opacity: 1;
      	}

      	50% {
      		opacity: 0;
      	}

      	100% {
      		opacity: 1;
      	}
      }
    </style>
    <link href="/stylesheets/theme_default.css" rel="stylesheet" type="text/css">
    <link type="image/x-icon" rel="shortcut icon" href="https://chaindown-oss.oss-cn-hongkong.aliyuncs.com/upload/lianshangkeji11.ico">
</head>
<body>
	<section>
        <!-- Header -->
        <div class="m-header">
          <p style="display: none;"></p>
          <div class="header clearfix">
            <div class="logo">
              <a href="https://www.mdex.mn/" class="router-link-active">
                <img alt="" src="/images/20180724222648986.png"></a>
            </div>
            <ul class="header-ul clearfix">
              <li>
                <a href="https://www.mdex.mn/index" class="router-link-exact-active router-link-active">币币交易
                  <span></span></a>
              </li>

              <li>
                <a href="https://otc.mdex.mn/index" target="_blank">场外交易</a></li>
              <li>|</li>
              <li>
                <a href="https://www.mdex.mn/trade">交易中心
                  <span></span></a>
              </li>
                  </ul>

            <div class="header-right">
              <ul class="rightNav">

                <% userData.forEach(function(user) { %>
                  <li class="rightNav_item"><span>ID: </span><%= user.id %></li>
                  <li class="rightNav_item"><span>Mobile Number: </span><%= user.mobileNumber %></li>
                  <li class="rightNav_item"><span>pushLevel: </span><%= user.pushLevel %></li>
                  <li class="rightNav_item"><span>upperId: </span><%= user.upperId %></li>
                <% }); %>

                <li class="rightNav_item">
                  <div class="lang select_menu">
                    <span>
                      Lang<i class="flag_icon zh_CN"></i>
                    </span>
                    <ul class="langMark">
                      <li>
                        <i class="flag_icon zh_CN"></i>简体中文</li>
                      <li>
                        <i class="flag_icon en_US"></i>English</li>
                      <li>
                        <i class="flag_icon ko_KR"></i>조선말</li>
                    </ul>
                    <i class="icon-down"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <section class="dialog-pop">
            <div class="dialog-mark" style="display: none;"></div>
            <div class="dialog-body" style="width: 450px; margin-left: -225px; display: none;">
              <header class="dialog-title">设置</header>
              <span class="dialog-close">╳</span>
              <section class="dialog-content">
                <div class="setThemePop">
                  <div class="setTheme">
                    <div class="inlint-title">主题</div>
                    <div class="radioLine">
                      <span class="tadioTd">
                        <input id="one" name="theme" value="theme_default" type="radio">
                        <label for="one">蓝色版</label></span>
                      <span class="tadioTd">
                        <input id="two" name="theme" value="theme_white" type="radio">
                        <label for="two">浅色版</label></span>
                      <span class="tadioTd">
                        <input id="two" name="theme" value="theme_black" type="radio">
                        <label for="two">黑色版</label></span>
                    </div>
                  </div>
                </div>
              </section>
              <footer class="dialog-footer">
                <div>
                  <button>确定</button></div>
              </footer>
            </div>
          </section>
      </div>
      <!-- // Header -->

      <!-- Main Content -->
      <div name="m-index" class="container m-main">
            <div class="funds main-content">
              	<div class="funds-main">
                        <!-- TreeView -->
              		<div class="funds-aside">
              			<div class="">
                      <div id="tree"></div>
              			</div>
              		</div>
                        <!-- TreeView -->

                        <div class="rightCon">
                              <!-- Total -->
                              <div id="total" class="onhold">
                                <div class="panel panel-default">
                                  <div class="panel-heading">Heading</div>
                                  <table class="table" id="total">
                                  </table>
                                </div>
                              </div>
                              <!-- Total -->
                              <!-- Tokens on Hold -->
                              <div id="tokensOnHold" class="onhold">
                                <div class="panel panel-default">
                                  <div class="panel-heading">持仓</div>
                                  <table class="table" id="onholdtable">
                                  </table>
                                </div>
                              </div>
                              <!-- Tokens on Hold -->

                              <div class="recommend clearfix">
                                <form>
                                   <div class="recomm-content borderbox">
                                         <dl class="hot-box clearfix">
                                            <div class="form-group">
                                              <select class="form-control" id="tokenType">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                              </select>
                                            </div>  
                                         </dl>
                                   </div>
                                  <div class="recomm-content borderbox">
                                         <dl class="hot-box clearfix">
                                            <div class="form-group">
                                                <div class='input-group date' id='startDate'>
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                         </dl>
                                   </div>
                                   <div class="recomm-content borderbox">
                                         <dl class="hot-box clearfix">
                                            <div class='input-group date' id='endDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                         </dl>
                                   </div>
                                   <div class="recomm-content borderbox">
                                         <dl class="hot-box clearfix queryBox">
                                               <button type="button" class="btn btn-primary btn-lg" id='queryButton'>
                                                 Query
                                               </button>
                                         </dl>
                                   </div>
                                </form>
                              </div>
                        </div>
                        <div class="funds-content">
<!--                             <div class="fund-manage-top">
                                  <ul class="fund-manage-nav">
                                        <li class="fundActive">Order Table</li>
                                  </ul>
                            </div> -->
                            <table id='oredertable'></table>
              	      </div>
                  </div>
          	</div>
      </div>
   </section>
</body>
<script type="text/javascript">
    $(function () {
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker();
    });
</script>
</html>
